<!-- <div class="container">

    
    <form (ngSubmit)="onSubmit()" class="example-form">
        <h1 >Update a Teacher</h1>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="teacher.name" name="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="teacher.address" name="city">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="teacher.teachingGrade" name="grade">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="teacher.gender" name="Gender">
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
    </form>
</div>
   -->

<h2 style="display: flex; place-content: center; align-items: center;">Update a Teacher</h2>

<div class="container">
<form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
  <!-- Full Name -->
  <label  for="fullName">Full Name:</label>
  <input (change)="onTeacherNameChange()" matInput [(ngModel)]="teacher.name" id="fullName" formControlName="fullName" type="text" required="true" />
  <mat-hint class="hint hide" id="tName">Name should be only aphabetic characters</mat-hint>

  <!-- City -->
  <label for="city">City:</label>
  <input matInput [(ngModel)]="teacher.address" id="city" formControlName="city" type="text" required />
  <mat-hint class="hint hide" id="city"></mat-hint>

  <!-- Teaching Grade -->
  <label for="teachingGrade">Teaching Grade:</label>
  <input (change)="onTeachingGradeChange()" matInput [(ngModel)]="teacher.teachingGrade" id="teachingGrade" formControlName="teachingGrade" required />
  <mat-hint class="hint hide" id="grade"> grade should be between 1-12</mat-hint>

  <!-- Gender -->
  <label for="gender">Gender:</label>
  <select id="gender" formControlName="gender" required>
    <option value="" disabled>Select gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>
  

  <!-- Submit Button -->
  <button type="submit" >Update</button>
</form>
</div>

  
  