<nav class="nav-bar">
    <div class="brand">
      <a class="nav-brand" style="text-decoration: none;" href="/">School Management System</a>
    </div>
      <div class="property">
        <ul class="prop-list">
          <li class="nav-items">
            <a class="showing" href="/api/getAllStudents">All Students</a>
          </li>
          <li class="nav-items">
            <a class="showing" href="/api/getAllTeachers">All Teachers</a>
          </li>
          <li class="nav-items">
            <a class="adding" href="/api/createStudent">Add Student</a>
          </li>
          <li class="nav-items">
            <a class="adding" href="/api/createTeacher">Add Teacher</a>
          </li>
  
        </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>